.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.progressText {
  font-size: 3em;
  font-weight: bold;
  fill: red;
}